:root {
  --wp--breakpoint-xs: 0;
  --wp--breakpoint-sm: 640px;
  --wp--breakpoint-md: 900px;
  --wp--breakpoint-lg: 1080px;
  --wp--breakpoint-xl: 1232px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(var(--wp--rows, 1), 1fr);
  grid-template-columns: repeat(var(--wp--columns, 12), 1fr);
  gap: var(--wp--gap, 1.5rem);
}
.grid .g-col-1 {
  grid-column: auto/span 1;
}
.grid .g-col-2 {
  grid-column: auto/span 2;
}
.grid .g-col-3 {
  grid-column: auto/span 3;
}
.grid .g-col-4 {
  grid-column: auto/span 4;
}
.grid .g-col-5 {
  grid-column: auto/span 5;
}
.grid .g-col-6 {
  grid-column: auto/span 6;
}
.grid .g-col-7 {
  grid-column: auto/span 7;
}
.grid .g-col-8 {
  grid-column: auto/span 8;
}
.grid .g-col-9 {
  grid-column: auto/span 9;
}
.grid .g-col-10 {
  grid-column: auto/span 10;
}
.grid .g-col-11 {
  grid-column: auto/span 11;
}
.grid .g-col-12 {
  grid-column: auto/span 12;
}
.grid .g-start-1 {
  grid-column-start: 1;
}
.grid .g-start-2 {
  grid-column-start: 2;
}
.grid .g-start-3 {
  grid-column-start: 3;
}
.grid .g-start-4 {
  grid-column-start: 4;
}
.grid .g-start-5 {
  grid-column-start: 5;
}
.grid .g-start-6 {
  grid-column-start: 6;
}
.grid .g-start-7 {
  grid-column-start: 7;
}
.grid .g-start-8 {
  grid-column-start: 8;
}
.grid .g-start-9 {
  grid-column-start: 9;
}
.grid .g-start-10 {
  grid-column-start: 10;
}
.grid .g-start-11 {
  grid-column-start: 11;
}
@media (min-width: 640px) {
  .grid .g-col-sm-1 {
    grid-column: auto/span 1;
  }
  .grid .g-col-sm-2 {
    grid-column: auto/span 2;
  }
  .grid .g-col-sm-3 {
    grid-column: auto/span 3;
  }
  .grid .g-col-sm-4 {
    grid-column: auto/span 4;
  }
  .grid .g-col-sm-5 {
    grid-column: auto/span 5;
  }
  .grid .g-col-sm-6 {
    grid-column: auto/span 6;
  }
  .grid .g-col-sm-7 {
    grid-column: auto/span 7;
  }
  .grid .g-col-sm-8 {
    grid-column: auto/span 8;
  }
  .grid .g-col-sm-9 {
    grid-column: auto/span 9;
  }
  .grid .g-col-sm-10 {
    grid-column: auto/span 10;
  }
  .grid .g-col-sm-11 {
    grid-column: auto/span 11;
  }
  .grid .g-col-sm-12 {
    grid-column: auto/span 12;
  }
  .grid .g-start-sm-1 {
    grid-column-start: 1;
  }
  .grid .g-start-sm-2 {
    grid-column-start: 2;
  }
  .grid .g-start-sm-3 {
    grid-column-start: 3;
  }
  .grid .g-start-sm-4 {
    grid-column-start: 4;
  }
  .grid .g-start-sm-5 {
    grid-column-start: 5;
  }
  .grid .g-start-sm-6 {
    grid-column-start: 6;
  }
  .grid .g-start-sm-7 {
    grid-column-start: 7;
  }
  .grid .g-start-sm-8 {
    grid-column-start: 8;
  }
  .grid .g-start-sm-9 {
    grid-column-start: 9;
  }
  .grid .g-start-sm-10 {
    grid-column-start: 10;
  }
  .grid .g-start-sm-11 {
    grid-column-start: 11;
  }
}
@media (min-width: 900px) {
  .grid .g-col-md-1 {
    grid-column: auto/span 1;
  }
  .grid .g-col-md-2 {
    grid-column: auto/span 2;
  }
  .grid .g-col-md-3 {
    grid-column: auto/span 3;
  }
  .grid .g-col-md-4 {
    grid-column: auto/span 4;
  }
  .grid .g-col-md-5 {
    grid-column: auto/span 5;
  }
  .grid .g-col-md-6 {
    grid-column: auto/span 6;
  }
  .grid .g-col-md-7 {
    grid-column: auto/span 7;
  }
  .grid .g-col-md-8 {
    grid-column: auto/span 8;
  }
  .grid .g-col-md-9 {
    grid-column: auto/span 9;
  }
  .grid .g-col-md-10 {
    grid-column: auto/span 10;
  }
  .grid .g-col-md-11 {
    grid-column: auto/span 11;
  }
  .grid .g-col-md-12 {
    grid-column: auto/span 12;
  }
  .grid .g-start-md-1 {
    grid-column-start: 1;
  }
  .grid .g-start-md-2 {
    grid-column-start: 2;
  }
  .grid .g-start-md-3 {
    grid-column-start: 3;
  }
  .grid .g-start-md-4 {
    grid-column-start: 4;
  }
  .grid .g-start-md-5 {
    grid-column-start: 5;
  }
  .grid .g-start-md-6 {
    grid-column-start: 6;
  }
  .grid .g-start-md-7 {
    grid-column-start: 7;
  }
  .grid .g-start-md-8 {
    grid-column-start: 8;
  }
  .grid .g-start-md-9 {
    grid-column-start: 9;
  }
  .grid .g-start-md-10 {
    grid-column-start: 10;
  }
  .grid .g-start-md-11 {
    grid-column-start: 11;
  }
}
@media (min-width: 1080px) {
  .grid .g-col-lg-1 {
    grid-column: auto/span 1;
  }
  .grid .g-col-lg-2 {
    grid-column: auto/span 2;
  }
  .grid .g-col-lg-3 {
    grid-column: auto/span 3;
  }
  .grid .g-col-lg-4 {
    grid-column: auto/span 4;
  }
  .grid .g-col-lg-5 {
    grid-column: auto/span 5;
  }
  .grid .g-col-lg-6 {
    grid-column: auto/span 6;
  }
  .grid .g-col-lg-7 {
    grid-column: auto/span 7;
  }
  .grid .g-col-lg-8 {
    grid-column: auto/span 8;
  }
  .grid .g-col-lg-9 {
    grid-column: auto/span 9;
  }
  .grid .g-col-lg-10 {
    grid-column: auto/span 10;
  }
  .grid .g-col-lg-11 {
    grid-column: auto/span 11;
  }
  .grid .g-col-lg-12 {
    grid-column: auto/span 12;
  }
  .grid .g-start-lg-1 {
    grid-column-start: 1;
  }
  .grid .g-start-lg-2 {
    grid-column-start: 2;
  }
  .grid .g-start-lg-3 {
    grid-column-start: 3;
  }
  .grid .g-start-lg-4 {
    grid-column-start: 4;
  }
  .grid .g-start-lg-5 {
    grid-column-start: 5;
  }
  .grid .g-start-lg-6 {
    grid-column-start: 6;
  }
  .grid .g-start-lg-7 {
    grid-column-start: 7;
  }
  .grid .g-start-lg-8 {
    grid-column-start: 8;
  }
  .grid .g-start-lg-9 {
    grid-column-start: 9;
  }
  .grid .g-start-lg-10 {
    grid-column-start: 10;
  }
  .grid .g-start-lg-11 {
    grid-column-start: 11;
  }
}
@media (min-width: 1232px) {
  .grid .g-col-xl-1 {
    grid-column: auto/span 1;
  }
  .grid .g-col-xl-2 {
    grid-column: auto/span 2;
  }
  .grid .g-col-xl-3 {
    grid-column: auto/span 3;
  }
  .grid .g-col-xl-4 {
    grid-column: auto/span 4;
  }
  .grid .g-col-xl-5 {
    grid-column: auto/span 5;
  }
  .grid .g-col-xl-6 {
    grid-column: auto/span 6;
  }
  .grid .g-col-xl-7 {
    grid-column: auto/span 7;
  }
  .grid .g-col-xl-8 {
    grid-column: auto/span 8;
  }
  .grid .g-col-xl-9 {
    grid-column: auto/span 9;
  }
  .grid .g-col-xl-10 {
    grid-column: auto/span 10;
  }
  .grid .g-col-xl-11 {
    grid-column: auto/span 11;
  }
  .grid .g-col-xl-12 {
    grid-column: auto/span 12;
  }
  .grid .g-start-xl-1 {
    grid-column-start: 1;
  }
  .grid .g-start-xl-2 {
    grid-column-start: 2;
  }
  .grid .g-start-xl-3 {
    grid-column-start: 3;
  }
  .grid .g-start-xl-4 {
    grid-column-start: 4;
  }
  .grid .g-start-xl-5 {
    grid-column-start: 5;
  }
  .grid .g-start-xl-6 {
    grid-column-start: 6;
  }
  .grid .g-start-xl-7 {
    grid-column-start: 7;
  }
  .grid .g-start-xl-8 {
    grid-column-start: 8;
  }
  .grid .g-start-xl-9 {
    grid-column-start: 9;
  }
  .grid .g-start-xl-10 {
    grid-column-start: 10;
  }
  .grid .g-start-xl-11 {
    grid-column-start: 11;
  }
}

:root,
[data-bs-theme=light] {
  --bd-cyan: #00595d;
  --bd-accent: #ffe484;
  --bd-cyan-rgb: 0, 89, 93;
  --bd-accent-rgb: 255, 228, 132;
  --bd-pink-rgb: 214, 51, 132;
  --bd-teal-rgb: 32, 201, 151;
  --bd-cyan-bg: var(--bd-cyan);
  --bd-toc-color: var(--bd-cyan);
  --bd-sidebar-link-bg: rgba(var(--bd-cyan-rgb), .1);
  --bd-callout-link: 10, 88, 202;
  --bd-callout-code-color: rgb(171, 41, 106);
  --bd-pre-bg: var(--bs-tertiary-bg);
  --wp--code-color: rgb(171, 41, 106);
}

[data-bs-theme=dark] {
  --bd-cyan: rgb(64, 131, 134);
  --bd-cyan-bg: #00595d;
  --bd-toc-color: var(--wp--emphasis-color);
  --bd-sidebar-link-bg: rgba(4, 71, 74, .5);
  --bd-callout-link: 110, 168, 254;
  --bd-callout-code-color: rgb(230, 133, 181);
  --bd-pre-bg: rgb(27, 31, 34);
}

.wcbrd-navbar {
  padding: 0.75rem 0;
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}
@media (forced-colors) {
  .wcbrd-navbar {
    background-color: Canvas;
  }
}
.wcbrd-navbar::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  content: "";
  background-image: linear-gradient(rgba(var(--bd-cyan-rgb), 1), rgba(var(--bd-cyan-rgb), 0.95));
}
@media (max-width: 1079.98px) {
  .wcbrd-navbar .wcbrd-navbar-toggle {
    width: 4.25rem;
  }
}
.wcbrd-navbar .navbar-toggler {
  padding: 0;
  margin-right: -0.5rem;
  border: 0;
}
.wcbrd-navbar .navbar-toggler:first-child {
  margin-left: -0.5rem;
}
.wcbrd-navbar .navbar-toggler .bi {
  width: 1.5rem;
  height: 1.5rem;
}
.wcbrd-navbar .navbar-toggler:focus {
  box-shadow: none;
}
.wcbrd-navbar .navbar-brand {
  color: #fff;
  transition: transform 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .wcbrd-navbar .navbar-brand {
    transition: none;
  }
}
.wcbrd-navbar .navbar-brand:hover {
  transform: rotate(-5deg) scale(1.1);
}
.wcbrd-navbar .navbar-toggler,
.wcbrd-navbar .nav-link {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  color: rgba(255, 255, 255, 0.85);
}
.wcbrd-navbar .navbar-toggler:hover, .wcbrd-navbar .navbar-toggler:focus,
.wcbrd-navbar .nav-link:hover,
.wcbrd-navbar .nav-link:focus {
  color: #fff;
}
.wcbrd-navbar .navbar-toggler.active,
.wcbrd-navbar .nav-link.active {
  font-weight: 600;
  color: #fff;
}
.wcbrd-navbar .navbar-nav-svg {
  display: inline-block;
  vertical-align: -0.125rem;
}
.wcbrd-navbar .offcanvas-lg {
  background-color: var(--bd-cyan-bg);
  border-left: 0;
}
@media (max-width: 1079.98px) {
  .wcbrd-navbar .offcanvas-lg {
    box-shadow: var(--bs-box-shadow-lg);
  }
}
.wcbrd-navbar .dropdown-toggle:focus:not(:focus-visible) {
  outline: 0;
}
.wcbrd-navbar .dropdown-menu {
  --bs-dropdown-min-width: 12rem;
  --bs-dropdown-padding-x: .25rem;
  --bs-dropdown-padding-y: .25rem;
  --bs-dropdown-link-hover-bg: rgba(var(--bd-cyan-rgb), .1);
  --bs-dropdown-link-active-bg: rgba(var(--bd-cyan-rgb), 1);
  --bs-dropdown-font-size: 0.875rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  box-shadow: var(--wp--box-shadow);
}
.wcbrd-navbar .dropdown-menu li + li {
  margin-top: 0.125rem;
}
.wcbrd-navbar .dropdown-menu .dropdown-item {
  border-radius: 0.25rem;
}
.wcbrd-navbar .dropdown-menu .dropdown-item:active .bi {
  color: inherit !important;
}
.wcbrd-navbar .dropdown-menu .active {
  font-weight: 600;
}
.wcbrd-navbar .dropdown-menu .active .bi {
  display: block !important;
}
.wcbrd-navbar .dropdown-menu-end {
  --bs-dropdown-min-width: 8rem;
}

[data-bs-theme=dark] .wcbrd-navbar {
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.wcbrd-masthead {
  --bd-pink-rgb: 214, 51, 132;
  padding: 3rem 0;
  background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%), radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%), radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%), radial-gradient(ellipse at center right, rgba(var(--bd-cyan-rgb), 0.5), transparent 50%), radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
}
.wcbrd-masthead h1 {
  --bs-heading-color: var(--bs-emphasis-color);
  font-size: calc(1.525rem + 3.3vw);
}
@media (min-width: 1200px) {
  .wcbrd-masthead h1 {
    font-size: 4rem;
  }
}
.wcbrd-masthead .lead {
  font-size: 1rem;
  font-weight: 400;
  color: var(--bs-secondary-color);
}
.wcbrd-masthead .wcbrd-code-snippet {
  margin: 0;
  border-color: var(--bs-border-color-translucent);
  border-width: 1px;
  border-radius: 0.5rem;
}
.wcbrd-masthead .highlight {
  width: 100%;
  padding: 0.5rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(var(--bs-body-color-rgb), 0.075);
  border-radius: calc(0.5rem - 1px);
}
@media (min-width: 1080px) {
  .wcbrd-masthead .highlight {
    padding-right: 4rem;
  }
}
.wcbrd-masthead .highlight pre {
  padding: 0;
  margin: 0.625rem 0;
  overflow: hidden;
}
.wcbrd-masthead .btn-clipboard {
  position: absolute;
  top: -0.625rem;
  right: 0;
  background-color: transparent;
}
.wcbrd-masthead #carbonads {
  max-width: 400px;
  margin-block: 2rem;
  margin-inline: auto;
}
@media (min-width: 900px) {
  .wcbrd-masthead .lead {
    font-size: calc(1.275rem + 0.3vw);
  }
}
@media (min-width: 900px) and (min-width: 1200px) {
  .wcbrd-masthead .lead {
    font-size: 1.5rem;
  }
}

.masthead-followup h2,
.masthead-followup h3,
.masthead-followup h4 {
  --bs-heading-color: var(--bs-emphasis-color);
}
.masthead-followup .lead {
  font-size: 1rem;
}
@media (min-width: 900px) {
  .masthead-followup .lead {
    font-size: 1.25rem;
  }
}

.masthead-followup-icon {
  padding: 1rem;
  color: rgba(var(--bg-rgb), 1);
  background-color: rgba(var(--bg-rgb), 0.1);
  background-blend-mode: multiply;
  border-radius: 1rem;
  mix-blend-mode: darken;
}
.masthead-followup-icon svg {
  filter: drop-shadow(0 1px 1px var(--bs-body-bg));
}

.masthead-notice {
  background-color: var(--bd-accent);
  box-shadow: inset 0 -1px 1px rgba(var(--bs-body-color-rgb), 0.15), 0 0.25rem 1.5rem rgba(var(--bs-body-bg-rgb), 0.75);
}

.animate-img > img {
  transition: transform 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .animate-img > img {
    transition: none;
  }
}
.animate-img:hover > img {
  transform: scale(1.1);
}
.animate-img:active > img {
  transform: scale(1);
}

[data-bs-theme=dark] .masthead-followup-icon {
  mix-blend-mode: lighten;
}

.wcbrd-content > h2,
.wcbrd-content > h3,
.wcbrd-content > h4 {
  --bs-heading-color: var(--bs-emphasis-color);
}
.wcbrd-content > h2:not(:first-child) {
  margin-top: 3rem;
}
.wcbrd-content > h3 {
  margin-top: 2rem;
}
.wcbrd-content > ul li,
.wcbrd-content > ol li {
  margin-bottom: 0.25rem;
}
.wcbrd-content > ul li > p ~ ul,
.wcbrd-content > ol li > p ~ ul {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
.wcbrd-content > .table,
.wcbrd-content > .table-responsive .table {
  --bs-table-border-color: var(--bs-border-color);
  max-width: 100%;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}
@media (max-width: 1079.98px) {
  .wcbrd-content > .table.table-bordered,
  .wcbrd-content > .table-responsive .table.table-bordered {
    border: 0;
  }
}
.wcbrd-content > .table thead,
.wcbrd-content > .table-responsive .table thead {
  border-bottom: 2px solid currentcolor;
}
.wcbrd-content > .table tbody:not(:first-child),
.wcbrd-content > .table-responsive .table tbody:not(:first-child) {
  border-top: 2px solid currentcolor;
}
.wcbrd-content > .table th:first-child,
.wcbrd-content > .table td:first-child,
.wcbrd-content > .table-responsive .table th:first-child,
.wcbrd-content > .table-responsive .table td:first-child {
  padding-left: 0;
}
.wcbrd-content > .table th:not(:last-child),
.wcbrd-content > .table td:not(:last-child),
.wcbrd-content > .table-responsive .table th:not(:last-child),
.wcbrd-content > .table-responsive .table td:not(:last-child) {
  padding-right: 1.5rem;
}
.wcbrd-content > .table th,
.wcbrd-content > .table-responsive .table th {
  color: var(--bs-emphasis-color);
}
.wcbrd-content > .table:not(.wcbrd-callout) > strong,
.wcbrd-content > .table-responsive .table:not(.wcbrd-callout) > strong {
  color: var(--bs-emphasis-color);
}
.wcbrd-content > .table th,
.wcbrd-content > .table td:first-child > code,
.wcbrd-content > .table-responsive .table th,
.wcbrd-content > .table-responsive .table td:first-child > code {
  white-space: nowrap;
}

.table-options td:nth-child(2) {
  min-width: 160px;
}

.table-options td:last-child,
.table-utilities td:last-child {
  min-width: 280px;
}

.table-swatches th {
  color: var(--bs-emphasis-color);
}
.table-swatches td code {
  white-space: nowrap;
}
.table-swatches td p {
  margin: 0;
}

.wcbrd-content p a,
.wcbrd-content li a,
.wcbrd-content dd a {
  text-decoration: underline;
}

.wcbrd-title {
  --bs-heading-color: var(--bs-emphasis-color);
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  .wcbrd-title {
    font-size: 3rem;
  }
}

.wcbrd-subtitle {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .wcbrd-subtitle {
    font-size: 1.5rem;
  }
}
.wcbrd-subtitle {
  font-weight: 300;
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}

@media (min-width: 1080px) {
  .border-lg-start {
    border-left: var(--bs-border-width) solid var(--bs-border-color);
  }
}

.wcbrd-summary-link {
  color: var(--bs-link-color);
}
.wcbrd-summary-link:hover, details[open] > .wcbrd-summary-link {
  color: var(--bs-link-hover-color);
}

[data-bs-theme=blue] {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg: var(--bs-blue);
  --bs-body-bg-rgb: 13, 110, 253;
  --bs-tertiary-bg: rgb(10, 88, 202);
}
[data-bs-theme=blue] .dropdown-menu {
  --bs-dropdown-bg: rgb(12, 99, 228);
  --bs-dropdown-link-active-bg: rgb(8, 66, 152);
}
[data-bs-theme=blue] .btn-secondary {
  --bs-btn-bg: rgb(85, 128, 189);
  --bs-btn-border-color: rgba(255, 255, 255, 0.25);
  --bs-btn-hover-bg: rgb(69, 115, 179);
  --bs-btn-hover-border-color: rgba(255, 255, 255, 0.25);
  --bs-btn-active-bg: rgb(62, 103, 161);
  --bs-btn-active-border-color: rgba(255, 255, 255, 0.5);
  --bs-btn-focus-border-color: rgba(255, 255, 255, 0.5);
  --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
}

.skippy {
  background-color: #00595d;
}
.skippy a {
  color: #fff;
}

@media (min-width: 1080px) {
  .wcbrd-sidebar {
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
  }
}
@media (max-width: 1079.98px) {
  .wcbrd-sidebar .offcanvas-lg {
    border-right-color: var(--bs-border-color);
    box-shadow: var(--bs-box-shadow-lg);
  }
}

.wcbrd-links-heading {
  color: var(--bs-emphasis-color);
}

@media (max-width: 1079.98px) {
  .wcbrd-links-nav {
    font-size: 0.875rem;
  }
}
@media (max-width: 1079.98px) {
  .wcbrd-links-nav {
    column-count: 2;
    column-gap: 1.5rem;
  }
  .wcbrd-links-nav .wcbrd-links-group {
    break-inside: avoid;
  }
  .wcbrd-links-nav .wcbrd-links-span-all {
    column-span: all;
  }
}

.wcbrd-links-link {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.125rem;
  color: var(--bs-body-color);
}
.wcbrd-links-link:hover, .wcbrd-links-link:focus, .wcbrd-links-link.active {
  color: var(--bs-emphasis-color);
  background-color: var(--bd-sidebar-link-bg);
}
.wcbrd-links-link.active {
  font-weight: 600;
}

.wcbrd-gutter {
  --bs-gutter-x: 3rem;
}

@media (min-width: 1080px) {
  .wcbrd-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: 1.5rem;
  }
}

.wcbrd-sidebar {
  grid-area: sidebar;
}

.wcbrd-main {
  grid-area: main;
}
@media (max-width: 1079.98px) {
  .wcbrd-main {
    max-width: 760px;
    margin-inline: auto;
  }
}
@media (min-width: 900px) {
  .wcbrd-main {
    display: grid;
    grid-template-areas: "intro" "toc" "content";
    grid-template-rows: auto auto 1fr;
    gap: inherit;
  }
}
@media (min-width: 1080px) {
  .wcbrd-main {
    grid-template-areas: "intro   toc" "content toc";
    grid-template-rows: auto 1fr;
    grid-template-columns: 4fr 1fr;
  }
}

.wcbrd-intro {
  grid-area: intro;
}

.wcbrd-toc {
  grid-area: toc;
}

.wcbrd-content {
  grid-area: content;
  min-width: 1px;
}

.wcbrd-toc {
  font-size: 0.875rem;
  container-type: inline-size;
  --wp--secondary-color: rgba(62, 73, 72, 0.87);
  background-color: var(--wp--body-bg);
}
@media (min-width: 1080px) {
  .wcbrd-toc {
    position: sticky;
    top: 5rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 7rem);
    overflow-y: auto;
  }
}
.wcbrd-toc nav {
  font-size: 0.875rem;
}
.wcbrd-toc nav ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.wcbrd-toc nav ul ul {
  padding-left: 1rem;
}
.wcbrd-toc nav a {
  display: block;
  padding: 0.125rem 0 0.125rem 0.75rem;
  color: inherit;
  text-decoration: none;
  border-left: 0.125rem solid transparent;
}
.wcbrd-toc nav a:hover, .wcbrd-toc nav a.active {
  color: var(--bd-toc-color);
  border-left-color: var(--bd-toc-color);
}
.wcbrd-toc nav a.active {
  font-weight: 500;
}
.wcbrd-toc nav a code {
  font: inherit;
}

.wcbrd-toc-toggle {
  display: flex;
  align-items: center;
}
@media (max-width: 639.98px) {
  .wcbrd-toc-toggle {
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 899.98px) {
  .wcbrd-toc-toggle {
    color: var(--bs-body-color);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }
  .wcbrd-toc-toggle:hover, .wcbrd-toc-toggle:focus, .wcbrd-toc-toggle:active, .wcbrd-toc-toggle[aria-expanded=true] {
    color: var(--bd-cyan);
    background-color: var(--bs-body-bg);
    border-color: var(--bd-cyan);
  }
  .wcbrd-toc-toggle:focus, .wcbrd-toc-toggle[aria-expanded=true] {
    box-shadow: 0 0 0 3px rgba(var(--bd-cyan-rgb), 0.25);
  }
}

@media (max-width: 899.98px) {
  .wcbrd-toc-collapse nav {
    padding: 1.25rem 1.25rem 1.25rem 1rem;
    background-color: var(--bs-tertiary-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }
}
@media (min-width: 900px) {
  .wcbrd-toc-collapse {
    display: block !important;
  }
}

.wcbrd-footer {
  --wp--secondary-color: rgba(62, 73, 72, 0.87);
}
.wcbrd-footer a {
  color: var(--wp--body-color);
  text-decoration: none;
}
.wcbrd-footer a:hover, .wcbrd-footer a:focus {
  color: var(--wp--link-hover-color);
  text-decoration: underline;
}
.wcbrd-footer .small a {
  text-decoration: underline;
}
.wcbrd-footer .small a:hover, .wcbrd-footer .small a:focus {
  text-decoration: none;
}

.wcbrd-code-snippet {
  margin: 0 -1.5rem 1rem;
  border: solid var(--bs-border-color);
  border-width: 1px 0;
}
@media (min-width: 900px) {
  .wcbrd-code-snippet {
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-radius: var(--bs-border-radius);
  }
}

.wcbrd-example {
  --bd-example-padding: 1rem;
  position: relative;
  padding: var(--bd-example-padding);
  margin: 0 -1.5rem 1rem;
  border: solid var(--bs-border-color);
  border-width: 1px 0;
}
.wcbrd-example::after {
  display: block;
  clear: both;
  content: "";
}
@media (min-width: 900px) {
  .wcbrd-example {
    --bd-example-padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-radius: var(--bs-border-radius);
  }
}
.wcbrd-example + p {
  margin-top: 2rem;
}
.wcbrd-example > .form-control + .form-control {
  margin-top: 0.5rem;
}
.wcbrd-example > .nav + .nav,
.wcbrd-example > .alert + .alert,
.wcbrd-example > .navbar + .navbar,
.wcbrd-example > .progress + .progress {
  margin-top: 1rem;
}
.wcbrd-example > .dropdown-menu {
  position: static;
  display: block;
}
.wcbrd-example > :last-child,
.wcbrd-example > nav:last-child .breadcrumb {
  margin-bottom: 0;
}
.wcbrd-example > hr:last-child {
  margin-bottom: 1rem;
}
.wcbrd-example > svg + svg,
.wcbrd-example > img + img {
  margin-left: 0.5rem;
}
.wcbrd-example > .btn,
.wcbrd-example > .btn-group {
  margin: 0.25rem 0.125rem;
}
.wcbrd-example > .btn-toolbar + .btn-toolbar {
  margin-top: 0.5rem;
}
.wcbrd-example > .list-group {
  max-width: 400px;
}
.wcbrd-example > [class*=list-group-horizontal] {
  max-width: 100%;
}
.wcbrd-example .fixed-top,
.wcbrd-example .sticky-top {
  position: static;
  margin: calc(-1 * var(--bd-example-padding)) calc(-1 * var(--bd-example-padding)) var(--bd-example-padding);
}
.wcbrd-example .fixed-bottom,
.wcbrd-example .sticky-bottom {
  position: static;
  margin: var(--bd-example-padding) calc(-1 * var(--bd-example-padding)) calc(-1 * var(--bd-example-padding));
}
.wcbrd-example .pagination {
  margin-bottom: 0;
}

.wcbrd-example-row [class^=col],
.wcbrd-example-cols [class^=col] > *,
.wcbrd-example-cssgrid [class*=grid] > * {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(var(--bd-cyan-rgb), 0.15);
  border: 1px solid rgba(var(--bd-cyan-rgb), 0.3);
}

.wcbrd-example-row .row + .row,
.wcbrd-example-cssgrid .grid + .grid {
  margin-top: 1rem;
}

.wcbrd-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(var(--bd-cyan-rgb), 0.15);
}

.wcbrd-example-flex div:not(.vr) {
  background-color: rgba(var(--bd-cyan-rgb), 0.15);
  border: 1px solid rgba(var(--bd-cyan-rgb), 0.3);
}

.example-container {
  width: 800px;
  --wp--gutter-x: 3rem;
  --wp--gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--wp--gutter-x) * 0.5);
  padding-left: calc(var(--wp--gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.example-row {
  --wp--gutter-x: 1.5rem;
  --wp--gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--wp--gutter-y));
  margin-right: calc(-0.5 * var(--wp--gutter-x));
  margin-left: calc(-0.5 * var(--wp--gutter-x));
}

.example-content-main {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--wp--gutter-x) * 0.5);
  padding-left: calc(var(--wp--gutter-x) * 0.5);
  margin-top: var(--wp--gutter-y);
}
@media (min-width: 640px) {
  .example-content-main {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 1080px) {
  .example-content-main {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}

.example-content-secondary {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--wp--gutter-x) * 0.5);
  padding-left: calc(var(--wp--gutter-x) * 0.5);
  margin-top: var(--wp--gutter-y);
}
@media (min-width: 640px) {
  .example-content-secondary {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 1080px) {
  .example-content-secondary {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

.wcbrd-example-ratios .ratio {
  display: inline-block;
  width: 10rem;
  color: var(--bs-secondary-color);
  background-color: var(--bs-tertiary-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.wcbrd-example-ratios .ratio > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wcbrd-example-ratios-breakpoint .ratio-4x3 {
  width: 16rem;
}
@media (min-width: 900px) {
  .wcbrd-example-ratios-breakpoint .ratio-4x3 {
    --bs-aspect-ratio: 50%;
  }
}

.wcbrd-example-offcanvas .offcanvas {
  position: static;
  display: block;
  height: 200px;
  visibility: visible;
  transform: translate(0);
}

.tooltip-demo a {
  white-space: nowrap;
}
.tooltip-demo .btn {
  margin: 0.25rem 0.125rem;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-cyan-bg);
  --bs-tooltip-color: var(--bs-white);
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bd-cyan-bg);
  --bs-popover-header-bg: var(--bd-cyan-bg);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}

.scrollspy-example {
  height: 200px;
  margin-top: 0.5rem;
  overflow: auto;
}

.scrollspy-example-2 {
  height: 350px;
  overflow: auto;
}

.simple-list-example-scrollspy .active {
  background-color: rgba(var(--bd-cyan-rgb), 0.15);
}

.wcbrd-example-border-utils [class^=border] {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: 0.25rem;
  background-color: var(--bs-tertiary-bg);
}

.wcbrd-example-rounded-utils [class*=rounded] {
  margin: 0.25rem;
}

.wcbrd-example-position-utils {
  position: relative;
  padding: 2rem;
}
.wcbrd-example-position-utils .position-relative {
  height: 200px;
  background-color: var(--bs-tertiary-bg);
}
.wcbrd-example-position-utils .position-absolute {
  width: 2rem;
  height: 2rem;
  background-color: var(--bs-body-color);
  border-radius: 0;
}

.wcbrd-example-position-examples::after {
  content: none;
}

.wcbrd-example-placeholder-cards::after {
  display: none;
}
.wcbrd-example-placeholder-cards .card {
  width: 18rem;
}

.wcbrd-example-toasts {
  min-height: 240px;
}

.wcbrd-example-zindex-levels {
  min-height: 15rem;
}
.wcbrd-example-zindex-levels > div {
  color: var(--bs-body-bg);
  background-color: var(--bd-cyan);
  border: 1px solid var(--bd-teal);
}
.wcbrd-example-zindex-levels > div > span {
  position: absolute;
  right: 5px;
  bottom: 0;
}
.wcbrd-example-zindex-levels > :nth-child(2) {
  top: 3rem;
  left: 3rem;
}
.wcbrd-example-zindex-levels > :nth-child(3) {
  top: 4.5rem;
  left: 4.5rem;
}
.wcbrd-example-zindex-levels > :nth-child(4) {
  top: 6rem;
  left: 6rem;
}
.wcbrd-example-zindex-levels > :nth-child(5) {
  top: 7.5rem;
  left: 7.5rem;
}

.highlight {
  position: relative;
  padding: 0.75rem 1.5rem;
  background-color: var(--bd-pre-bg);
}
@media (min-width: 900px) {
  .highlight {
    padding: 0.75rem 1.25rem;
    border-radius: calc(var(--bs-border-radius) - 1px);
  }
}
@media (min-width: 1080px) {
  .highlight pre {
    margin-right: 1.875rem;
  }
}
.highlight pre {
  padding: 0.25rem 0 0.875rem;
  margin-top: 0.8125rem;
  margin-bottom: 0;
  overflow: overlay;
  white-space: pre;
  background-color: transparent;
  border: 0;
}
.highlight pre code {
  font-size: inherit;
  color: var(--bs-body-color);
  word-wrap: normal;
}

.wcbrd-example-snippet .highlight pre {
  margin-right: 0;
}

.highlight-toolbar {
  background-color: var(--bd-pre-bg);
}
.highlight-toolbar + .highlight {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (min-width: 900px) {
  .wcbrd-file-ref .highlight-toolbar {
    border-top-left-radius: calc(var(--bs-border-radius) - 1px);
    border-top-right-radius: calc(var(--bs-border-radius) - 1px);
  }
}

.wcbrd-content .wcbrd-code-snippet {
  margin-bottom: 1rem;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-cyan-bg);
  --bs-btn-border-color: var(--bd-cyan-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: rgb(0, 80, 84);
  --bs-btn-hover-border-color: rgb(0, 80, 84);
  --bs-btn-focus-shadow-rgb: var(--bd-cyan-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: rgb(0, 71, 74);
  --bs-btn-active-border-color: rgb(0, 71, 74);
}

.btn-bd-accent {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bd-accent);
  --bs-btn-border-color: var(--bd-accent);
  --bs-btn-hover-color: var(--bd-dark);
  --bs-btn-hover-bg: var(--bd-accent);
  --bs-btn-hover-border-color: var(--bd-accent);
  --bs-btn-focus-shadow-rgb: var(--bd-accent-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--bs-btn-hover-bg);
  --bs-btn-active-border-color: var(--bs-btn-hover-border-color);
}

.btn-bd-light {
  --btn-custom-color: rgb(64, 131, 134);
  --bs-btn-color: var(--bs-gray-600);
  --bs-btn-border-color: var(--bs-border-color);
  --bs-btn-hover-color: var(--btn-custom-color);
  --bs-btn-hover-border-color: var(--btn-custom-color);
  --bs-btn-active-color: var(--btn-custom-color);
  --bs-btn-active-bg: var(--bs-white);
  --bs-btn-active-border-color: var(--btn-custom-color);
  --bs-btn-focus-border-color: var(--btn-custom-color);
  --bs-btn-focus-shadow-rgb: var(--bd-cyan-rgb);
}

.wcbrd-btn-lg {
  --bs-btn-border-radius: .5rem;
  padding: 0.8125rem 2rem;
}

.btn-bd-primary,
.btn-bd-accent,
.btn-bd-light,
.wcbrd-btn-lg {
  text-transform: none;
  letter-spacing: normal;
  box-shadow: none;
}
.btn-bd-primary:hover, .btn-bd-primary:active,
.btn-bd-accent:hover,
.btn-bd-accent:active,
.btn-bd-light:hover,
.btn-bd-light:active,
.wcbrd-btn-lg:hover,
.wcbrd-btn-lg:active {
  transform: none;
  box-shadow: none;
}

.wcbrd-callout {
  --wp--link-color-rgb: var(--bd-callout-link);
  --wp--code-color: var(--bd-callout-code-color);
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}
.wcbrd-callout h4 {
  margin-bottom: 0.25rem;
}
.wcbrd-callout > :last-child {
  margin-bottom: 0;
}
.wcbrd-callout + .wcbrd-callout {
  margin-top: -0.25rem;
}
.wcbrd-callout .highlight {
  background-color: rgba(17, 17, 17, 0.05);
}

.wcbrd-callout-info {
  --bd-callout-color: var(--bs-info-text-emphasis);
  --bd-callout-bg: var(--bs-info-bg-subtle);
  --bd-callout-border: var(--bs-info-border-subtle);
}

.wcbrd-callout-warning {
  --bd-callout-color: var(--bs-warning-text-emphasis);
  --bd-callout-bg: var(--bs-warning-bg-subtle);
  --bd-callout-border: var(--bs-warning-border-subtle);
}

.wcbrd-callout-danger {
  --bd-callout-color: var(--bs-danger-text-emphasis);
  --bd-callout-bg: var(--bs-danger-bg-subtle);
  --bd-callout-border: var(--bs-danger-border-subtle);
}

.wcbrd-brand-logos {
  color: #00595d;
}
.wcbrd-brand-logos .inverse {
  color: #fff;
  background-color: #00595d;
}

.wcbrd-brand-item + .wcbrd-brand-item {
  border-top: 1px solid var(--bs-border-color);
}
@media (min-width: 900px) {
  .wcbrd-brand-item + .wcbrd-brand-item {
    border-top: 0;
    border-left: 1px solid var(--bs-border-color);
  }
}

.color-swatches {
  margin: 0 -5px;
}
.color-swatches .wcbrd-cyan {
  background-color: #00595d;
}
.color-swatches .wcbrd-cyan-light {
  background-color: rgb(69, 247, 255);
}
.color-swatches .wcbrd-cyan-lighter {
  background-color: #e5e1ea;
}
.color-swatches .wcbrd-gray {
  background-color: #f9f9f9;
}

.color-swatch {
  width: 4rem;
  height: 4rem;
}
@media (min-width: 900px) {
  .color-swatch {
    width: 6rem;
    height: 6rem;
  }
}

.swatch-blue {
  color: #fff;
  background-color: #0d6efd;
}
.swatch-blue::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "4.50" "\a" "4.50" "\a" "4.19";
  background-color: #0d6efd;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-indigo {
  color: #fff;
  background-color: #6610f2;
}
.swatch-indigo::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "7.18" "\a" "7.18" "\a" "2.62";
  background-color: #6610f2;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-purple {
  color: #fff;
  background-color: #6f42c1;
}
.swatch-purple::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "6.51" "\a" "6.51" "\a" "2.90";
  background-color: #6f42c1;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-pink {
  color: #fff;
  background-color: #d63384;
}
.swatch-pink::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "4.50" "\a" "4.50" "\a" "4.19";
  background-color: #d63384;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-red {
  color: #111;
  background-color: #ff4419;
}
.swatch-red::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "5.47" "\a" "3.44" "\a" "5.47";
  background-color: #ff4419;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #111 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-orange {
  color: #111;
  background-color: #f56530;
}
.swatch-orange::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "6.10" "\a" "3.09" "\a" "6.10";
  background-color: #f56530;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #111 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-yellow {
  color: #111;
  background-color: #ffc107;
}
.swatch-yellow::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "11.5" "\a" "1.63" "\a" "11.5";
  background-color: #ffc107;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #111 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-green {
  color: #fff;
  background-color: #198754;
}
.swatch-green::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "4.53" "\a" "4.53" "\a" "4.16";
  background-color: #198754;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-teal {
  color: #111;
  background-color: #20c997;
}
.swatch-teal::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "8.86" "\a" "2.12" "\a" "8.86";
  background-color: #20c997;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #111 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-cyan {
  color: #111;
  background-color: #00c7c9;
}
.swatch-cyan::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "9.00" "\a" "2.09" "\a" "9.00";
  background-color: #00c7c9;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #111 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-black {
  color: #fff;
  background-color: #111;
}
.swatch-black::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "18.8" "\a" "18.8" "\a" "1";
  background-color: #111;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-white {
  color: #111;
  background-color: #fff;
}
.swatch-white::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "18.8" "\a" "1" "\a" "18.8";
  background-color: #fff;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #111 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-gray {
  color: #fff;
  background-color: #6c757d;
}
.swatch-gray::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "4.68" "\a" "4.68" "\a" "4.02";
  background-color: #6c757d;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-gray-dark {
  color: #fff;
  background-color: #343a40;
}
.swatch-gray-dark::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "11.5" "\a" "11.5" "\a" "1.64";
  background-color: #343a40;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-red-200 {
  color: #111;
  background-color: rgb(255, 180, 163);
}
.swatch-red-200::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "11.0" "\a" "1.70" "\a" "11.0";
  background-color: rgb(255, 180, 163);
  background-image: linear-gradient(to bottom, transparent 0.25rem, #111 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-cyan-700 {
  color: #fff;
  background-color: #00595d;
}
.swatch-cyan-700::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "8.11" "\a" "8.11" "\a" "2.32";
  background-color: #00595d;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.swatch-gray-400 {
  color: #111;
  background-color: #bec9c8;
}
.swatch-gray-400::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.35;
  white-space: pre;
  content: "11.1" "\a" "1.69" "\a" "11.1";
  background-color: #bec9c8;
  background-image: linear-gradient(to bottom, transparent 0.25rem, #111 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #111 2.25rem 2.75rem, transparent 2.75rem);
  background-repeat: no-repeat;
  background-size: 0.5rem 100%;
}

.wcbrd-red-200 {
  color: #111;
  background-color: #ffb4a3;
}

.wcbrd-orange-500 {
  color: #111;
  background-color: #f56530;
}

.wcbrd-orange-600 {
  color: #fff;
  background-color: #c6360b;
}

.wcbrd-cyan-700 {
  color: #fff;
  background-color: #00595d;
}

.wcbrd-cyan-800 {
  color: #fff;
  background-color: #004c4d;
}

.wcbrd-cyan-900 {
  color: #fff;
  background-color: #003e3e;
}

.wcbrd-gray-100 {
  color: #111;
  background-color: #fff8f1;
}

.wcbrd-gray-200 {
  color: #111;
  background-color: #f6eee4;
}

.wcbrd-gray-300 {
  color: #111;
  background-color: #e9e0d8;
}

.wcbrd-gray-400 {
  color: #111;
  background-color: #bec9c8;
}

.wcbrd-gray-700 {
  color: #fff;
  background-color: #4a5654;
}

.wcbrd-white {
  color: #111;
  background-color: #fff;
}
.wcbrd-white p {
  margin: 0;
}

.wcbrd-black {
  color: #fff;
  background-color: #111;
}
.wcbrd-black p {
  margin: 0;
}

.wcbrd-clipboard,
.wcbrd-edit {
  position: relative;
  display: none;
  float: right;
}
.wcbrd-clipboard + .highlight,
.wcbrd-edit + .highlight {
  margin-top: 0;
}
@media (min-width: 900px) {
  .wcbrd-clipboard,
  .wcbrd-edit {
    display: block;
  }
}

.btn-clipboard,
.btn-edit {
  display: block;
  padding: 0.5em;
  line-height: 1;
  color: var(--bs-body-color);
  background-color: var(--bd-pre-bg);
  border: 0;
  border-radius: 0.25rem;
}
.btn-clipboard:hover,
.btn-edit:hover {
  color: var(--bs-link-hover-color);
}
.btn-clipboard:focus,
.btn-edit:focus {
  z-index: 3;
}

.btn-clipboard {
  position: relative;
  z-index: 2;
  margin-top: 1.25rem;
  margin-right: 0.75rem;
}

.wcbrd-placeholder-img {
  font-size: 1.125rem;
  user-select: none;
  text-anchor: middle;
}

.wcbrd-placeholder-img-lg {
  font-size: calc(1.475rem + 2.7vw);
}
@media (min-width: 1200px) {
  .wcbrd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

main a,
main button,
main input,
main select,
main textarea,
main h2,
main h3,
main h4,
main [tabindex="0"] {
  scroll-margin-top: 80px;
  scroll-margin-bottom: 100px;
}

:root,
[data-bs-theme=light] {
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #666;
  --base05: #333;
  --base06: #fff;
  --base07: rgb(19, 121, 91);
  --base08: rgb(230, 61, 23);
  --base09: #00595d;
  --base0A: #6f42c1;
  --base0B: rgb(8, 66, 152);
  --base0C: rgb(8, 66, 152);
  --base0D: #6f42c1;
  --base0E: rgb(171, 41, 106);
  --base0F: #333;
}

[data-bs-theme=dark] {
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #868e96;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: rgb(241, 145, 114);
  --base08: rgb(102, 221, 223);
  --base09: rgb(241, 145, 114);
  --base0A: rgb(255, 230, 156);
  --base0B: rgb(121, 223, 193);
  --base0C: rgb(121, 223, 193);
  --base0D: rgb(110, 168, 254);
  --base0E: rgb(194, 159, 250);
  --base0F: rgb(255, 143, 117);
}

pre.astro-code {
  background-color: #24292e;
  color: #e1e4e8;
}
pre.astro-code span[style*="6A737D"],
pre.astro-code span[style*="6a737d"] {
  color: #8b949e !important;
}

.language-bash .line::before,
.language-sh .line::before {
  display: inline-block;
  color: var(--base03);
  content: "$ ";
  user-select: none;
}

.language-powershell .line::before {
  display: inline-block;
  color: var(--base0C);
  content: "PM> ";
  user-select: none;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: var(--base03) !important; /* overrides Prism inline style="color:#6A737D" */
}
.token.punctuation {
  color: var(--base05);
}
.token.property {
  color: var(--base0A);
}
.token.tag {
  color: var(--base08);
}
.token.boolean, .token.number {
  color: var(--base09);
}
.token.constant, .token.symbol, .token.deleted {
  color: var(--base08);
}
.token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
  color: var(--base0C);
}
.token.operator, .token.entity, .token.url {
  color: var(--base05);
}
.token.atrule, .token.attr-value, .token.keyword {
  color: var(--base0E);
}
.token.function {
  color: var(--base0B);
}
.token.selector, .token.class-name {
  color: var(--base07);
}
.token.regex, .token.important {
  color: var(--base0A);
}
.token.variable {
  color: var(--base08);
}
.token.important, .token.bold {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

.language-diff .token.deleted {
  color: rgb(255, 105, 71);
  background-color: transparent;
}
.language-diff .token.inserted {
  color: rgb(71, 159, 118);
  background-color: transparent;
}

.language-bash .token.comment,
.language-sh .token.comment {
  color: var(--base03);
}

.anchor-link {
  padding: 0 0.175rem;
  font-weight: 400;
  color: rgba(0, 89, 93, 0.5);
  text-decoration: none;
  opacity: 0;
  transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .anchor-link {
    transition: none;
  }
}
.anchor-link::after {
  content: "#";
}
.anchor-link:focus, .anchor-link:hover, :hover > .anchor-link, :target > .anchor-link {
  color: #00595d;
  text-decoration: none;
  opacity: 1;
}

.wcbrd-search {
  display: none;
}

.wcbrd-theme-divider,
.nav-item:has(#bd-theme) {
  display: none;
}

/*# sourceMappingURL=docs.css.map */
