//
// Brand guidelines
//

// Logo series wrapper
.wcbrd-brand-logos {
  color: $bd-cyan;

  .inverse {
    color: $white;
    background-color: $bd-cyan;
  }
}

// Individual items
.wcbrd-brand-item {
  + .wcbrd-brand-item {
    border-top: 1px solid var(--bs-border-color);
  }

  @include media-breakpoint-up(md) {
    + .wcbrd-brand-item {
      border-top: 0;
      border-left: 1px solid var(--bs-border-color);
    }
  }
}


//
// Color swatches
//

.color-swatches {
  margin: 0 -5px;

  // Docs colors
  .wcbrd-cyan {
    background-color: $bd-cyan;
  }
  .wcbrd-cyan-light {
    background-color: $bd-cyan-light;
  }
  .wcbrd-cyan-lighter {
    background-color: #e5e1ea;
  }
  .wcbrd-gray {
    background-color: #f9f9f9;
  }
}

.color-swatch {
  width: 4rem;
  height: 4rem;

  @include media-breakpoint-up(md) {
    width: 6rem;
    height: 6rem;
  }
}
