//
// Docs color palette classes
//

@each $color, $value in map-merge($colors, ("red-200": $red-200, "cyan-700": $cyan-700, "orange": $orange-500, "gray-400": $gray-400)) {
  .swatch-#{$color} {
    color: color-contrast($value);
    background-color: #{$value};

    &::after {
      $contrast-ratio: "#{contrast-ratio($value, color-contrast($value))}";
      $against-white: "#{contrast-ratio($value, $white)}";
      $against-black: "#{contrast-ratio($value, $black)}";
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding-left: 1rem;
      font-size: .75rem;
      line-height: 1.35;
      white-space: pre;
      content:
        str-slice($contrast-ratio, 1, 4) "\A"
        str-slice($against-white, 1, 4) "\A"
        str-slice($against-black, 1, 4);
      background-color: $value;
      background-image:
        linear-gradient(
          to bottom,
          transparent .25rem,
          color-contrast($value) .25rem .75rem,
          transparent .75rem 1.25rem,
          $white 1.25rem 1.75rem,
          transparent 1.75rem 2.25rem,
          $black 2.25rem 2.75rem,
          transparent 2.75rem
        );
      background-repeat: no-repeat;
      background-size: .5rem 100%;
    }
  }
}

// stylelint-disable declaration-block-single-line-max-declarations
.wcbrd-red-200 { color: color-contrast($red-200); background-color: to-hex($red-200); }

.wcbrd-orange-500 { color: color-contrast($orange-500); background-color: to-hex($orange-500); }
.wcbrd-orange-600 { color: color-contrast($orange-600); background-color: to-hex($orange-600); }

.wcbrd-cyan-700 { color: color-contrast($cyan-700); background-color: to-hex($cyan-700); }
.wcbrd-cyan-800 { color: color-contrast($cyan-800); background-color: to-hex($cyan-800); }
.wcbrd-cyan-900 { color: color-contrast($cyan-900); background-color: to-hex($cyan-900); }

.wcbrd-gray-100 { color: color-contrast($gray-100); background-color: to-hex($gray-100); }
.wcbrd-gray-200 { color: color-contrast($gray-200); background-color: to-hex($gray-200); }
.wcbrd-gray-300 { color: color-contrast($gray-300); background-color: to-hex($gray-300); }
.wcbrd-gray-400 { color: color-contrast($gray-400); background-color: to-hex($gray-400); }
.wcbrd-gray-700 { color: color-contrast($gray-700); background-color: to-hex($gray-700); }

.wcbrd-white {
  color: color-contrast($white);
  background-color: $white;

  // Astro HTML parser adds extra <p> tags to the content
  p {
    margin: 0;
  }
}

.wcbrd-black {
  color: color-contrast($black);
  background-color: $black;

  // Astro HTML parser adds extra <p> tags to the content
  p {
    margin: 0;
  }
}
